{{#swiper-container
  pagination=true
  loop=true
  centered=true
  slidesPerView=3
  spaceBetween=5
  class='swiper_main'}}
    {{#swiper-slide class='slide shakeitup'}}
      <div class="slide_content">Shake It Up</div>
    {{/swiper-slide}}
    {{#swiper-slide class='slide slide-2'}}Slide 2{{/swiper-slide}}
    {{#swiper-slide class='slide slide-3'}}Slide 3{{/swiper-slide}}
    {{#swiper-slide class='slide slide-4'}}Slide 4{{/swiper-slide}}
    {{#swiper-slide class='slide slide-5'}}Slide 5{{/swiper-slide}}
{{/swiper-container}}

{{#swiper-container
  pagination=true
  loop=true
  centered=true
  slidesPerView=1
  spaceBetween=5
  class='swiper_mobile'}}
    {{#swiper-slide class='slide shakeitup'}}
      <div class="slide_content">Shake It Up</div>
    {{/swiper-slide}}
    {{#swiper-slide class='slide slide-2'}}Slide 2{{/swiper-slide}}
    {{#swiper-slide class='slide slide-3'}}Slide 3{{/swiper-slide}}
    {{#swiper-slide class='slide slide-4'}}Slide 4{{/swiper-slide}}
    {{#swiper-slide class='slide slide-5'}}Slide 5{{/swiper-slide}}
{{/swiper-container}}
