$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5722;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

@import 'bootstrap';

body {
  background-color: #F6F6F6;
  font-size: 16px;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, sans-serif;
  color: $primary-text-color;
}

a, a:hover, a:visited, a:active, a:link {
  color: $accent-color;
  text-decoration: none;
  small {
    color: $primary-text-color;
  }
}

.main {

  h1 {
    margin-bottom: 0;
    font-size: 2em;
  }

  h2 {
    margin-top: 0;
    font-size: 1.5em;
  }

  h1, h2, h3 {
    text-align: left;
    font-family: 'Roboto Slab', Times, serif;
    font-weight: bold;
    color: $primary-color-dark;
  }

  h4, small {
    text-align: center;
  }

  p {
    font-size: 1.25em;
  }

  hr {
    border: 1px solid $primary-color-dark;
  }

}

.main_content {
  max-width: 90%;
}

.swiper-container {
  margin-top: 2px;
}

.swiper_main {
  height: 400px;
}

.swiper_mobile {
  height: 400px;
  display: none;
}

.swiper-pagination-bullet {
  background-color: $accent-color;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: $primary-color-dark;
  opacity: 1;
}

.shakeitup, .movielookup, .ecommerce, .quoraclone, .salemsunshine {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.shakeitup {
  background-image: url("/assets/images/shake_it_up.png");
}

.movielookup {
  background-image: url("/assets/images/movie_lookup.png");
}

.ecommerce {
  background-image: url("/assets/images/ecommerce.png");
}

.quoraclone {
  background-image: url("/assets/images/quoraclone.png");
}

.salemsunshine {
  background-image: url("/assets/images/salem_sunshine.png");
}

.icon-row {
  text-align: center;
  a {
    color: $primary-color;
  }
  a:hover {
    color: $accent-color;
  }
}

.fa {
  display: inline-block;
  margin: 0 16px 1em 16px;
}

@media (max-width: 700px) {
  body {
    font-size: 12px;
  }

  .swiper_main {
    display: none;
  }

  .swiper_mobile {
    display: inherit;
  }
}
