<h1>Jeffrey Ruder</h1>
<h2>Web and Mobile Developer</h2>

<p>I'm currently employing Agile methodologies to develop a React / Redux / Rails web app at <a href="https://developmentnow.com/" target="_blank">DevelopmentNow</a>.</p>

{{yield}}
