<h1>Jeffrey Ruder</h1>
<h2>Web and Mobile Developer</h2>

<p>Currently employing Agile methodologies to develop a React / Redux / Rails web app at <a href="https://developmentnow.com/" target="_blank">DevelopmentNow</a>.</p>

<p>After a ten year career in education administration and management, I decided to become a developer and attend <a href="http://www.epicodus.com/" target="_blank">Epicodus</a>, an intensive programming vocational school. I chose programming because my most important passions are creating, building, and learning.</p>

<p>My experience with collaboration, writing, and analysis makes me a better developer. I've learned that success in programming is all about communication: face-to-face communication between programmers and their colleagues, and written communication in the form of code. I believe that programmers are authors who must write for both human and computer readers.</p>

{{yield}}
