<h3>So, tell us a little about yourself.</h3>

<p>After a ten year career in education administration and management, I decided to become a developer and attend <a href="http://www.epicodus.com/" target="_blank">Epicodus</a>, an intensive programming vocational school. I chose programming because my most important passions are creating, building, and learning.</p>

<p>My experience with collaboration, writing, and analysis makes me a better developer. I've learned that success in programming is all about communication: face-to-face communication between programmers and their colleagues, and written communication in the form of code. I believe that programmers are authors who must write for both human and computer readers. I enjoy long hikes, global cuisine, and PagerAdapters.</p>

{{yield}}
